main {
    width: 100%;
    padding-top: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#game-window {
    width: 700px;
    margin: 0 auto;
    border: 1px black solid;
}

#headline {
    padding-left: 10px;
}

#game {
    width: 100%;
    border-top: 1px lightgrey solid;
    display: flex;
    flex-direction: row;
}

#game-left {
    width: 50%;
    border-right: 1px lightgrey solid;
}

#hangman {
    width: 100%;
    height: 350px;
    border-bottom: 1px lightgrey solid;
    background-image: url(Images/hang8.jpg);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.description {
    padding: 10px;
}

.description-box {
    padding-left:10px;
    width: 315px;
    height: 30px;
    border: 1px black solid;
    font-size: 25px;
}

#game-right {
    width: 350px;
    padding-left: 25px;
    padding-top: 30px;
    padding-right: 25px;
}

#messages {
    width: 100%;
    height: 100px;
    border: 1px black solid;
    overflow: auto;
    padding-top:10px;
    font-size: 20px;
    padding-left:10px;
}